* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.landing-page-section {
}
.lg-font {
  font-size: 2rem;
  font-weight: bold;
}
