/* Base styles */

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.landing-page-section {
  background-color: #f4f4f4;
  height: 50vh;
}
